
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Account
$accDelBack: #f3f7fa;
$accInputBack: #4da2ff;

// Welcome
$welcomeColor: #636b6f;

// Zapier
$zapAllow: #0682ca;
$zapMainCol: #f0f0f0;
$zapBackCol: #555;

// Payment
$payAppBack: #e6eaed;
$payApplyCol: #b7bbbe;
$payDelCard: #f75c4a;
$payNoCol: #bec3c7;
$payDelCol: #f3f7fa;
$paySubmitCol: #4da2ff;

// Side bar
$sideBack: #2c2e3e;
$sideSelBack: #5f9eff;

// Account, payment, topbar, Zapier, Profile, Subscription
$mainColor : #989898;
$grayBorder: #ddd;

// Subscription
$subProBack: #716aca;
$subProAmBack: #756ecd;
$subBasicAmBack: #f8f9fb;
$subHighCol: #7291ff;
$subPurchase: #7ab9fe;
$subModalTitle: #0079cb;