
.profileContents{
	position: absolute;
	top: 80px;
	left: 100px;
	padding: 30px;
	color: black;
	font-size: 15px;
	width: calc( 100% - 100px);
	height: calc(100% - 80px);
	overflow: auto;

	img{
		width: 40px;
		border-radius: 100%;
	}
	.proTable{
		margin-top: 20px;
		border: 1px solid #ddd;
	}
	.proTable th{
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.proTable td{
		padding: 5px 7px 5px 7px;
		border: 1px solid #ddd;
		input[type="text"]{
			border: none;
			width: 100%;
		}
		input:focus{
			outline: none;
		}
	}
	.proTable img{
		cursor: pointer;
	}
	.img-responsive{
		margin: auto;
		border-radius: 100%;
		width: 100%;
	}
}