.sideBar{
	height: calc(100% - 80px);
	width: 100px;
	background-color: $sideBack;
	color: white;
	position: fixed;
	top: 80px;
	z-index: 100;
	.sideOptions{
		position: relative;
		text-align: center;
	}
	.sideOptions a{
		text-decoration: none;
		color: white;
		height: 40px;
	}
	.sideOption p{
		margin: 0px;
	}
	.sideOption{
		padding: 10px;
	}
	.selectedOption{
		background-color: $sideSelBack;
	}
}